:host {
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;

  .login-wrapper {
    width: 450px;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 30px;

    .title {
      text-align: center;
      color: #6B7280;
    }

    .section-divider {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;

      span {
        color: #6B7280;
      }

      .divider {
        width: 50%;
        display: block;
        height: 1px;
        background: #e5e7eb;
        position: relative;
        top: 1px;


        &:first-of-type {
          margin-right: 15px;
        }

        &:last-of-type {
          margin-left: 15px;
        }
      }
    }

    .form {
      display: flex;
      flex-direction: column;
      gap: 20px;

      .login-button {
        margin-top: 25px;
      }
    }
  }
}