<div class="login-wrapper">
  <h3 class="title">
    {{
    isFreeTrial() ? 'Start 14 days free trial' : 'Login'
    }}
  </h3>
  <ui-google-sso [isSignUp]="isFreeTrial()" (onErrorPopupFedCM)="showTraditionalGoogleSignIn.set(true)"
    (onSuccess)="login($event)">
  </ui-google-sso>

  @if(showTraditionalGoogleSignIn()) {
  <div class="section-divider">
    <span class="divider"></span>
    <span>o</span>
    <span class="divider"></span>
  </div>
  }


  <form [formGroup]="form" class="form">
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput type="email" formControlName="email" required>
      <mat-error>
        {{
        emailControl?.hasError('required') ? 'Email is required' : 'Invalid email format'
        }}

      </mat-error>

    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input autocomplete="" matInput type="password" formControlName="password" required="">
      <mat-error>
        Password is required
      </mat-error>
    </mat-form-field>

    <mat-checkbox formControlName="terms">I accept the terms & conditions
      @if(form.get('terms')?.hasError('required') && form.get('terms')?.touched) {
      <mat-error>
        required
      </mat-error>
      }

    </mat-checkbox>

    <button mat-flat-button type="button" class="login-button" (click)="login()">{{
      isFreeTrial() ? 'Begin' : 'Login'
      }}</button>
  </form>
</div>